[mysqld]
datadir=/var/lib/mysql
socket=/run/mysqld/mysqld.sock
bind-address=0.0.0.0
port=3306
user=mysql
log_error=/var/log/mysql/error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[myisamchk]
key_buffer              = 16M

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log_error=/var/log/mariadb/mariadb.log
pid_file=/var/run/mariadb/mariadb.pid
